<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document2</title>


</head>

<body>

    <% if (process.env.NODE_ENV=="development") { %>
        <!-- 开发环境 -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.runtime.min.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
        <script src="https://cdn.bootcss.com/lodash.js/4.17.12-pre/lodash.js"></script>
    <% } else { %>
        <!-- 生产环境 -->
    <% } %>




    <div id="app"></div>
</body>

</html>